<h1> My Discounts </h1>

<% @merchant.bulk_discounts.each do |discount| %>
  <h4> <%= link_to "#{discount.percentage_discount} for #{discount.quantity_threshold} items", merchant_bulk_discount_path(@merchant.id, discount.id) %> </h4>
<% end %>

<h2> <%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant.id) %> </h2>